<% include header.ejs %>

    <div class="container">
        <div class="row">

            <div class="offset-md-2 col-md-8 col-sm-12">
                <ul class="list-group single-view-wrapper">
                    <% customer.forEach((element) => { %>

                            <div class="list-group-item single-view-list-wrapper">
                                <div class="single-view-list-item" >ID:
                                    <%=element.id%>
                                </div>
                                <div class="single-view-list-item" >
                                  Name: <%=element.name%>
                                </div>
                                <div class="single-view-list-item" >
                                Phone: <%=element.phone%>
                                </div>
                                <div class="single-view-list-item" >
                                Mobile: <%=element.mobile%>
                                </div>
                                <div class="single-view-list-item" >
                                Email: <%=element.email%>
                                </div>
                                <div class="single-view-list-item" >
                                Address: <%=element.address%>
                                </div>
                                <div class="single-view-list-item" >
                                City: <%=element.city%>
                                </div>
                                <div class="single-view-list-item" >
                                State: <%=element.state%>
                                </div>
                                <div class="single-view-list-item" >
                                Zip:<%=element.zip%>
                                </div>
                                <div class="single-view-list-item" >
                                Country:<%=element.country%>
                                </div>
                                <button class="btn btn-danger deleteReservation float-right" name="delete" id="<%=element.id%>"  value="<%=element.id%>">
                                    Delete
                                </button>
                                </div>
                    <% }); %>
                </ul>
            </div>

        </div>
    </div>


    <% include footer.ejs %>