<% include header.ejs %>


    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <div class="addCustomer">
                    <!-- add item -->
                    <h2>Add A Customer</h2>
                    <form method="post" action="/addCustomer">
                        <div class="form-group">
                            <input  class="form-control" type="text" name="name" placeholder="Customer name" required />
                        </div>
                        <div class="form-group">
                            <input  class="form-control" type="text" name="phone" placeholder="Phone number" />
                        </div>
                        <div class="form-group">
                            <input  class="form-control" type="text" name="mobile" placeholder="Mobile number" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="email" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="address" placeholder="Address" />
                        </div>
                        <div class="form-group">
                        <input  class="form-control" type="text" name="city" placeholder="City" list="citys">
                        <datalist id="citys">
                        <% citys.forEach((element) => { %>
                            <option value="<%= element.city %>">
                            <% }); %>
                        </datalist>
                        </div>
                        <div class="form-group">
                        <input class="form-control" type="text" name="state" placeholder="State" list="states">
                        <datalist id="states">
                        <% states.forEach((element) => { %>
                            <option value="<%= element.state %>">
                            <% }); %>
                        </datalist>
                        </div>
                        <div class="form-group">
                        <input  class="form-control" type="text" name="zip" placeholder="Zip" list="zips">
                        <datalist id="zips">
                        <% zips.forEach((element) => { %>
                            <option value="<%= element.zip %>">
                            <% }); %>
                        </datalist>
                        </div>
                        <div class="form-group">
                            <input  class="form-control" type="text" name="country" placeholder="Country" />
                        </div>
                       
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>


            <div class="col-sm-8">
            <div class="total">Total: <%= customers.length %></div>
            <table  class="table table-hover table-striped"">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Mobile</th>
                <th scope="col">email</th>
                <th scope="col">address</th>
                <th scope="col">city</th>
                <th scope="col">state</th>
                <th scope="col">zip</th>
                <th scope="col">country</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                <% customers.forEach((element) => { %>
                        <tr>
                            <td><a id="<%=element.id%>" href="/getCustomer/<%=element.id%>"> <%=element.name%>  </a></td>
                            <td> <%=element.phone%></td>
                            <td> <%=element.mobile%></td>
                            <td> <%=element.email%></td>
                            <td> <%=element.address%></td>
                            <td><%=element.city%></td>
                            <td><%=element.state%> </td>
                            <td><%=element.zip%></td>
                            <td><%=element.country%> </td>
                            <td>
                            <button class="btn btn-danger deleteCustomer" name="delete" id="<%=element.id%>"  value="<%=element.id%>">Delete </button>
                            </td>
                        </tr>
                <% }); %>
                </tbody>
            </table >

        </div>
    </div>

    <% include footer.ejs %>