<% include header.ejs %>


    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <div class="">
                    <!-- add item -->
                    <div class="page-title">Add Invoice</div>
                    <div>
                        <div class="form-group">
                            <small class="form-text text-muted">Choose a customer from the list.</small>
                            <input class="form-control customerLookup" type="text" name="customer" placeholder="Customer" list="customers" required autocomplete="off">
                            <datalist id="customers">
                                <% customers.forEach((element) => { %>
                                    <option value="<%= element.name %>" data-id="<%= element.id %>">
                                        <% }); %>
                            </datalist>
                        </div>

                        <small class="form-text text-muted">Choose an item from the list.</small>
                        <div class="input-group itemLookupWrapper mb-3">

                            <input class="form-control itemLookup" type="text" name="item" placeholder="Item" list="items" required autocomplete="off">

                            <datalist id="items">
                                <% items.forEach((element) => { %>
                                    <option value="<%= element.name %>" data-id="<%= element.id %>">
                                        <% }); %>
                            </datalist>

                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary removeItemInput">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button class="btn btn-outline-primary addItemInput">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>

                        </div>


                        <div class="form-group">
                            <input id="date" class="form-control" type="date" name="date" placeholder="Date" />
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success" id="addInvoice" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-8">
                <div class="row page-title ">
                    <div class="col-3">
                        Total:
                        <%= totalResult %>
                    </div>
                    <div class="col-9">
                        <form id="globalSearchForm" method="get" action="/invoices" autocomplete="off" class="form-inline float-right">
                            <div class="col-12 mb-3 form-inline">
                                <small>From&nbsp;</small>
                                <div class="form-group input-group-sm mr-3">
                                    <input type="date" class="form-control" name="fromDate" />
                                </div>
                                <small>To&nbsp;</small>
                                <div class="form-group input-group-sm ">
                                    <input type="date" class="form-control" name="toDate" />
                                </div>
                            </div>
                            <div class="col-12 form-inline">
                                <div class="form-group input-group-sm mr-3">
                                    <input type="text" class="form-control" placeholder="Search..." name="search" />
                                </div>
                                <button type="submit" class="btn btn-info btn-sm">Search</button>
                                <button type="submit" class="btn btn-secondary ml-2 btn-sm">All</button>
                            </div>
                        </form>
                    </div>
                </div>

                <table class="table table-hover table-striped table-sm">
                    <thead class=" thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Item</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Date Sold</th>
                            <th scope="col">Cost price</th>
                            <th scope="col">Sell price</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% invoices.forEach((element) => { %>
                            <tr>
                                <td>
                                    <a id="<%=element.id%>" href="/getInvoice/<%=element.id%>">
                                        <%=element.id%>
                                    </a>
                                </td>
                                <td>
                                    <%=element.item%>
                                </td>
                                <td>
                                    <%=element.customer%>
                                </td>
                                <td>
                                    <%=element.solddate%>
                                </td>
                                <td>
                                    $
                                    <%=element.costprice || 0%>
                                </td>
                                <td>
                                    $
                                    <%=element.sellprice || 0%>
                                </td>
                                <td>
                                    <%=element.status%>
                                </td>
                                <td>
                                    <button class=" btn btn-danger deleteInvoice m-1 btn-sm" name="delete" id="<%=element.id%>" value="<%=element.id%>">
                                        Delete
                                    </button>
                                </td>
                                <% }); %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td colspan="3"></td>
                            <td>$<%= costpriceTotal %></td>
                            <td>$<%= sellpriceTotal %></td>
                        </tr>
                    </tfoot>
                </table>

                <!-- pagination -->
                <div class="col text-center">
                    <%- paginator %>
                </div>
                <!-- End pagination -->

            </div>

        </div>
        <!-- End row -->
    </div>
    <!-- End container -->


    <% include footer.ejs %>