<% include header.ejs %>

    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-md-8 col-sm-12">
            <div class="page-title">Item</div>

                <ul class="list-group single-view-wrapper">
                    <% item.forEach((element) => { %>

                            <div class="list-group-item single-view-list-wrapper">
                                <div class="single-view-list-item" >
                                ID: <%=element.id%>
                                </div>
                                <div class="single-view-list-item" >
                                Name: <%=element.name%>
                                </div>
                                <div class="single-view-list-item" >
                                Color: <%=element.colorcode%>
                                </div>
                                <div class="single-view-list-item" >
                                Length: <%=element.length%>
                                </div>
                                <div class="single-view-list-item" >
                                Serial number: <%=element.serialnumber%>
                                </div>
                                <div class="single-view-list-item" >
                                Status: <%=element.status%>
                                </div>
                                <div class="single-view-list-item" >
                                Consigment:
                                <% if (element.consigmentId) { %>
                                <ol>
                                    <li>
                                    Consigment no: <a href="/getConsigment/<%=element.consigmentId%>"> <%=element.consigmentId%></a>
                                    Customer: <a href="/getCustomer/<%=element.customerConsigmentId%>"><%=element.customerConsigmentName%></a>
                                    Date: <%=element.shippeddate%>
                                    </li>
                                </ol>
                                <% } else {%>
                                    0
                                <% } %>

                                </div>
                                <div class="single-view-list-item" >
                                Reservations: 
                                <% if (element.reservationId) { %>
                                <ol>
                                    <%  element.reservedCustomers.forEach((r)=> {  %>
                                        <li>
                                        Reservation no:<a href="/getReservation/<%=r.reservationId%>"> <%=r.reservationId%></a>
                                        Customer: <a href="/getCustomer/<%=r.customerReservationId%>"><%=r.customerReservationName%></a>
                                        Date: <%=r.reserveddate%>
                                        </li>
                                    <% })  %>
                                </ol>
                                <% } else {%>
                                    0
                                <% } %>
                                </div>
                                <button class="btn btn-danger deleteItem float-right" name="delete" id="<%=element.id%>"  value="<%=element.id%>">
                                Delete
                            </button>
                                </div>
                    <% }); %>
                </ul>
            </div>

        </div>
    </div>


    <% include footer.ejs %>