<% include header.ejs %>

    <div class="container">
   
    
        <div class="row">

            <div class="col-sm-4">
                <div class="addItem">
                    <!-- add item -->
                    <div class="page-title">Add Item</div>
                    <form method="post" action="/addItem" autocomplete="off">
                        <div class="form-group">
                            <input id="itemName" class="form-control" type="text" name="name" placeholder="Item name"  readonly="readonly" required/>
                        </div>
                        <div class="form-group">
                            <input id="itemColor" class="form-control" type="text" name="colorcode" placeholder="Color" list="colors" required>
                            <datalist id="colors">
                            <% colors.forEach((element) => { %>
                                <option value="<%= element.colorcode %>">
                                <% }); %>
                            </datalist>
                        </div>
                        <div class="form-group">
                            <input id="itemLength" class="form-control" type="text" name="length" placeholder="Length" list="lengths" required>
                            <datalist id="lengths">
                            <% lengths.forEach((element) => { %>
                                <option value="<%= element.length %>">
                                <% }); %>
                            </datalist>
                        </div>
                        <div class="form-group">
                            <input id="serialNumber" class="form-control" type="text" name="serialnumber" placeholder="Serial number" required />
                        </div>
                        <div class="form-group">
                            <input id="" class="form-control" type="text" name="brand" placeholder="Brand" value="Beverly" required />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-sm-8">
            <div class="page-title">Total: <%= items.length %></div>
                <table  class="table table-hover table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Color</th>
                    <th scope="col">Length</th>
                    <th scope="col">Serial number</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <% items.forEach((element) => { %>
                            <tr>
                                <td><a id="<%=element.id%>" href="/getItem/<%=element.id%>"> <%=element.name%>  </a></td>
                                <td> <%=element.colorcode%></td>
                                <td> <%=element.length%></td>
                                <td><%=element.serialnumber%></td>
                                <td><%=element.status%> </td>
                                <td>
                                <button class="btn btn-warning editItem" id="<%=element.id%>"  value="<%=element.id%>">Edit</button>
                                <button class="btn btn-danger deleteItem" name="delete" id="<%=element.id%>"  value="<%=element.id%>">Delete </button>
                                </td>
                            </tr>
                    <% }); %>
                    </tbody>
                </table >
            </div>

        </div>
    </div>

    <% include footer.ejs %>