<% include header.ejs %>

    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <div class="addItem">
                    <!-- add item -->
                    <div class="page-title">Add Item</div>
                    <form method="post" action="/addItem" autocomplete="off">
                        <div class="form-group">
                            <small class="form-text text-muted">Item name will automatically populate.</small>
                            <input id="itemName" class="form-control" type="text" name="name" placeholder="Item name" readonly="readonly" required/>
                        </div>
                        <div class="form-group">
                            <small class="form-text text-muted">Type a Color or choose from the list.</small>
                            <input id="itemColor" class="form-control" type="text" name="colorcode" placeholder="Color" list="colors" required>
                            <datalist id="colors">
                                <% colors.forEach((element) => { %>
                                    <option value="<%= element.colorcode %>">
                                        <% }); %>
                            </datalist>
                        </div>
                        <div class="form-group">
                            <small class="form-text text-muted">Type a length or choose from the list.</small>
                            <input id="itemLength" class="form-control" type="text" name="length" placeholder="Length" list="lengths" required>
                            <datalist id="lengths">
                                <% lengths.forEach((element) => { %>
                                    <option value="<%= element.length %>">
                                        <% }); %>
                            </datalist>
                        </div>
                        <div class="form-group">
                            <small class="form-text text-muted">Must be unique</small>
                            <input id="serialNumber" class="form-control" type="text" name="serialnumber" placeholder="Serial number" required />
                        </div>
                        <small class="form-text text-muted">Optional</small>
                        <div class="form-group">
                            <input id="costPrice" class="form-control" type="number" name="costprice" placeholder="Cost Price" value="" />
                        </div>
                        <small class="form-text text-muted">Required</small>
                        <div class="form-group">
                            <input id="sellPrice" class="form-control" type="number" name="sellprice" placeholder="Sell Price" value="" required />
                        </div>
                        <small class="form-text text-muted">Required</small>
                        <div class="form-group">
                            <input id="brand" class="form-control" type="text" name="brand" placeholder="Brand" value="Beverly" required />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="row page-title ">
                    <div class="col-3">
                        Total:
                        <%= totalResult %>
                    </div>
                    <div class="col-9">
                        <form id="globalSearchForm" method="get" action="/items" autocomplete="off" class="form-inline float-right">
                            <div class="form-group input-group-sm mr-2">
                                <input type="text" class="form-control" placeholder="Search..." name="search" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-sm">Search</button>
                                <button type="submit" class="btn btn-secondary ml-2 btn-sm">All</button>
                            </div>
                        </form>
                    </div>
                </div>

                <table class="table table-hover table-striped table-sm">
                    <thead class="thead-dark ">
                        <tr>
                            <th scope="col ">Name</th>
                            <th scope="col ">Color</th>
                            <th scope="col ">Length</th>
                            <th scope="col ">Serial number</th>
                            <th scope="col ">Status</th>
                            <th scope="col ">Cost price</th>
                            <th scope="col ">Sell price</th>
                            <th scope="col "></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% items.forEach((element) => { %>
                            <tr>
                                <td>
                                    <a id="<%=element.id%>" href="/getItem/
                    <%=element.id%>">
                                        <%=element.name%>
                                    </a>
                                </td>
                                <td>
                                    <%=element.colorcode%>
                                </td>
                                <td>
                                    <%=element.length%>
                                </td>
                                <td>
                                    <%=element.serialnumber%>
                                </td>
                                <td>
                                    <%=element.status%>
                                </td>
                                <td>
                                    <%=element.costprice%>
                                </td>
                                <td>
                                    <%=element.sellprice%>
                                </td>
                                <td>
                                    <div class="btn-toolbar">
                                        <button class="btn btn-warning editItem m-1 btn-sm" id="<%=element.id%>" value="<%=element.id%>">Edit</button>
                                        <% if(element.status != 'sold' && element.status != 'consigned') { %>
                                            <button class="btn btn-danger deleteItem m-1 btn-sm" name="delete" id="<%=element.id%>" value="<%=element.id%>">Delete </button>
                                            <% } %>
                                    </div>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>

                <!-- pagination -->
                <div class="col text-center">
                    <%- paginator %>
                </div>
                <!-- End pagination -->

            </div>

        </div>
        <!-- End row -->
    </div>
    <!-- End container -->


    <% include footer.ejs %>