<% include header.ejs %>

    <div class="container">
        <div class="row">

            <div class="offset-md-2 col-md-8 col-sm-12">
                <ul class="list-group single-view-wrapper">
                    <% item.forEach((element) => { %>

                            <div class="list-group-item single-view-list-wrapper">
                                <div class="single-view-list-item" >
                                ID: <%=element.id%>
                                </div>
                                <div class="single-view-list-item" >
                                Name: <%=element.name%>
                                </div>
                                <div class="single-view-list-item" >
                                Color: <%=element.colorcode%>
                                </div>
                                <div class="single-view-list-item" >
                                Length: <%=element.length%>
                                </div>
                                <div class="single-view-list-item" >
                                Serial number: <%=element.serialnumber%>
                                </div>
                                <div class="single-view-list-item" >
                                Status: <%=element.status%>
                                </div>
                                <div class="single-view-list-item" >
                                Customer: <a href="/getCustomer/<%=element.itemId%>"><%=element.customer%></a>
                                </div>
                                <div class="single-view-list-item" >
                                Reservations: <ol>
                                <% element.reservedCustomers.forEach((r)=> {  %>
                                <li>
                                Customer: <a href="/getCustomer/<%=r.customerId%>"><%=r.customer%></a>
                                Date Reserved:<a href="/getReservation/<%=r.reservationId%>"><%=r.reserveddate%></a>
                                </li>
                                    <% }); %>
                                    </ol>
                                </div>
                                <button class="btn btn-danger deleteItem" name="delete" id="<%=element.id%>"  value="<%=element.id%>">
                                Delete
                            </button>
                                </div>
                    <% }); %>
                </ul>
            </div>

        </div>
    </div>


    <% include footer.ejs %>