
    <% participents.forEach((element) => { %>
    <ul>
        <li><%=element.id%></li>
        <li><a id="<%=element.id%>" href="/participents/<%=element.id%>"><%=element.name%></a></li>
        <li><%=element.sum%></li>   
     </ul>
    <% }); %>
