<% include header.ejs %>


    <div class="container">
        <div class="row">

            <div class="col-sm-6">
                <div class="">
                    <!-- add item -->
                    <h2>Add A Reservation</h2>
                    <div>
                        
                        <div class="form-group">
                            <input  class="form-control customerLookup" type="text" name="customer" placeholder="Customer" list="customers" >
                            <datalist id="customers" >
                            <% customers.forEach((element) => { %>
                                <option value="<%= element.name %>" data-id="<%= element.id %>">
                                <% }); %>
                            </datalist>
                        </div>
                         
                        <div class="input-group itemLookupWrapper mb-3">
                            <input class="form-control itemLookup" type="text" name="item" placeholder="Item" list="items" >
                            <datalist id="items" >
                            <% items.forEach((element) => { %>
                                <option value="<%= element.name %>" data-id="<%= element.id %>">
                                <% }); %>
                            </datalist>
                            <div class="input-group-append">
                            <button class="btn btn-outline-secondary removeItemInput">-</button>
                            <button class="btn btn-outline-primary addItemInput">+</button>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <input id="date" class="form-control" type="date" name="date" placeholder="Date" />
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success" id="addReservation" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <ul class="list-group">
                    <% reservations.forEach((element) => { %>
                     
                            <a id="<%=element.id%>" href="/reservations/<%=element.id%>" class="list-group-item">
                        
                                <div id="<%=element.itemId%>">Item:
                                    <%=element.item%>
                                </div>
                                <div id="<%=element.customerId%>">Customer:
                                    <%=element.customer%>
                                </div>
                                <div>Date Shipped:
                                    <%=element.reserveddate%>
                                </div>
                                </a>
                                <button class="btn btn-danger deleteConsigment" name="delete" id="<%=element.id%>"  value="<%=element.id%>">
                                    Delete
                                </button>
                    <% }); %>
                </ul>
            </div>

        </div>
    </div>


    <% include footer.ejs %>