<% include header.ejs %>


    <div class="container">
        <div class="row">


            <div class="col-md-8 offset-md-2 mt-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Reservation </h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            <% reservation.forEach((element) => { %>

                                <div>
                                    <div class="single-view-list-item">ID:
                                        <%=element.id%>
                                    </div>
                                    <div class="single-view-list-item">
                                        Item:
                                        <a href="/getItem/<%=element.itemId%>">
                                            <%=element.item%>
                                        </a>
                                    </div>
                                    <div class="single-view-list-item">
                                        Customer:
                                        <a href="/getCustomer/<%=element.customerId%>">
                                            <%=element.customer%>
                                        </a>
                                    </div>
                                    <div class="single-view-list-item">
                                        Date Reserved:
                                        <%=element.reserveddate%>
                                    </div>
                                    <div class="btn-toolbar mt-4">
                                        <button class="btn btn-danger deleteReservation btn-sm name=" delete " id="<%=element.id%>" value="
                                            <%=element.id%>"> Delete
                                        </button>
                                    </div>
                                </div>
                                <% }); %>
                        </ul>
                    </div>

                </div>
            </div>


            <% include footer.ejs %>