<% include header.ejs %>

    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <div class="">
                    <!-- add item -->
                    <h2>Add A Reservation</h2>
                    <div>

                        <div class="form-group">
                            <input  class="form-control customerLookup" type="text" name="customer" placeholder="Customer" list="customers" autocomplete="off">
                            <datalist id="customers" >
                            <% customers.forEach((element) => { %>
                                <option value="<%= element.name %>" data-id="<%= element.id %>">
                                <% }); %>
                            </datalist>
                        </div>
                         
                        <div class="input-group itemLookupWrapper mb-3">
                            <input class="form-control itemLookup" type="text" name="item" placeholder="Item" list="items" autocomplete="off">
                            <datalist id="items" >
                            <% items.forEach((element) => { %>
                                <option value="<%= element.name %>---<%= element.count || 0 %>" data-id="<%= element.id %>">
                                <% }); %>
                            </datalist>
                            <div class="input-group-append">
                            <button class="btn btn-outline-secondary removeItemInput"><i class="fas fa-minus"></i></button>
                            <button class="btn btn-outline-primary addItemInput"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <input id="date" class="form-control" type="date" name="date" placeholder="Date" />
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success" id="addReservation" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
            <div class="total">Total: <%= reservations.length %></div>
            <table class="table table-hover table-striped"">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Item</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Date Reserved</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                    <% reservations.forEach((element) => { %>
                    <tr>
                        <td><a id="<%=element.id%>" href="/getReservation/<%=element.id%>">
                                <%=element.id%>
                            </a>
                        </td>
                        <td>
                            <%=element.item%>
                        </td>
                        <td>
                            <%=element.customer%>
                        </td>
                        <td>
                            <%=element.reserveddate%>
                        </td>
                        <td>
                            <button class="btn btn-danger deleteReservation" name="delete" id="<%=element.id%>" value="<%=element.id%>">
                                Delete
                            </button>
                        </td>
                        <% }); %>
                </tbody>
            </table>


        </div>
    </div>


    <% include footer.ejs %>
