<% include header.ejs %>


    <div class="container">
        <div class="row">

            <div class="offset-md-2 col-md-8 col-sm-12">
                <ul class="list-group single-view-wrapper">
                    <% reservation.forEach((element) => { %>

                            <div class="list-group-item single-view-list-wrapper">
                                <div class="single-view-list-item" >ID:
                                    <%=element.id%>
                                </div>
                                <div class="single-view-list-item" >
                                    <a href="/getItem/<%=element.itemId%>">Item: <%=element.item%></a>
                                </div>
                                <div class="single-view-list-item" >
                                <a href="/getCustomer/<%=element.itemId%>">Customer: <%=element.customer%></a>
                                </div>
                                <div class="single-view-list-item" >
                                Date Reserved: <%=element.reserveddate%>
                                </div>
                                <button class="btn btn-danger deleteReservation float-right" name="delete" id="<%=element.id%>"  value="<%=element.id%>">
                                    Delete
                                </button>
                                </div>
                    <% }); %>
                </ul>
            </div>

        </div>
    </div>


    <% include footer.ejs %>